﻿@model IEnumerable<CONTPAQI.Entities.Quote>

@{
    ViewBag.Title = "Yahoo Finance - Quotes";
}

<h2>Yahoo Finance - Quotes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteSourceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Triggerable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceHint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketChangePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketDayHigh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketDayRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketDayLow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketPreviousClose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AskSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullExchangeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularMarketOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageDailyVolume3Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageDailyVolume10Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekLowChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekLowChangePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekHighChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekHighChangePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekLow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyTwoWeekHigh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DividendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarningsTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarningsTimestampStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarningsTimestampEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailingAnnualDividendRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailingPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailingAnnualDividendYield)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpsTrailingTwelveMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpsForward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpsCurrentYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceEpsCurrentYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SharesOutstanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyDayAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyDayAverageChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiftyDayAverageChangePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoHundredDayAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoHundredDayAverageChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoHundredDayAverageChangePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForwardPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceToBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceInterval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeDataDelayedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageViewGrowthWeekly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageAnalystRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tradeable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exchange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBoardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeTimezoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeTimezoneShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GmtOffSetMilliseconds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Market)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsgPopulated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CirculatingSupply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastMarket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume24Hr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeAllCurrencies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoinImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteSourceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Triggerable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceHint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketChangePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketDayHigh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketDayRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketDayLow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketPreviousClose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AskSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullExchangeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancialCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegularMarketOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageDailyVolume3Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageDailyVolume10Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekLowChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekLowChangePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekHighChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekHighChangePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekLow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyTwoWeekHigh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarningsTimestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarningsTimestampStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarningsTimestampEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailingAnnualDividendRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailingPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailingAnnualDividendYield)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpsTrailingTwelveMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpsForward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpsCurrentYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceEpsCurrentYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SharesOutstanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyDayAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyDayAverageChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiftyDayAverageChangePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoHundredDayAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoHundredDayAverageChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoHundredDayAverageChangePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForwardPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceToBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceInterval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeDataDelayedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageViewGrowthWeekly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageAnalystRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tradeable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exchange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBoardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeTimezoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeTimezoneShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GmtOffSetMilliseconds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Market)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsgPopulated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarketState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CirculatingSupply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastMarket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume24Hr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeAllCurrencies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoinImageUrl)
        </td>
    </tr>
}

</table>
