﻿@model IEnumerable<CONTPAQI.Entities.Empresa>

@{
    ViewBag.Title = "Empresa";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Crear Empresa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroInterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroExterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltAct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioUltAct)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IDEmpresa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RazonSocial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RFC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pais)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Municipio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Calle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroInterior)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroExterior)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Colonia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Activo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Borrado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaCreacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UsuarioCreador)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaUltAct)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UsuarioUltAct)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { idEmpresa = item.IDEmpresa }) |
        @Html.ActionLink("Eliminar", "Delete", new { idEmpresa = item.IDEmpresa })
    </td>
</tr>
}

</table>
